a{
    text-decoration: none;
}
.login{
    background-color: rgb(240, 242, 245);
}
.login .row{
    padding: 8% 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-form h1{
    color: #1F62F7;
    font-weight: 700 ;
}

.login-form .create{
    background-color: #42b72a;
    color: #fff;
    width: 70%;
    margin: auto;
}

.par{
    margin-top: 10px;
    font-size: .8rem;
    font-weight: 600;
}
.login .login-form{
    padding: 5px 0;
    width: 322px;
    height: 330px;
}

.forget{
    padding-bottom: 25px;
    border-bottom: 1px solid #dadde1;
    text-align: center;
}
